#container {
    width: 320px;
    height: 320px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}

#container h1 {
    font-size: 38px;
    margin-bottom: 50px;
}

.s {
    width: 100px;
    height: 100px;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 100px;
    cursor: pointer;
}

.s:hover{
    background-color: rgba(66, 255, 255, 0.425);
}

.border-bottom {
    border-bottom: 10px solid black;
}

.border-left {
    border-left: 10px solid black;
}

#start-game{
    margin-top: 60px;
}